<div class="container">
    <mat-toolbar>
        <span>Región</span>
    </mat-toolbar>
    <mat-card>
        <button mat-raised-button (click)="openAddRegion()" cdkFocusInitial>+Agregar</button>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">

                <ng-container matColumnDef="region_id">
                    <th mat-header-cell *matHeaderCellDef> Código </th>
                    <td mat-cell *matCellDef="let element"> {{element.region_id}} </td>
                </ng-container>

                <ng-container matColumnDef="region_name">
                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                    <td mat-cell *matCellDef="let element"> {{element.region_name}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Acción </th>
                    <td mat-cell *matCellDef="let elemet" data-label="">
                        <button mat-icon-button color="accent" title="Editar" (click)="openEditRegion(elemet)">
                      <mat-icon>create</mat-icon>
                  </button>
                        <button mat-icon-button color="warn" title="Eliminar" (click)="removeRegion(elemet)">
                      <mat-icon>delete</mat-icon>
                  </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[4, 8, 12]" showFirstLastButtons aria-label="Select page of periodic elements">
            </mat-paginator>
        </div>
    </mat-card>
</div>