<mat-card>
    <div>
        <h1 mat-dialog-title>Formulario de Cargos</h1>
        <form [formGroup]="employeeForm" (ngSubmit)="onJobs(employeeForm.value)">
            <div class="example-container">
                <mat-form-field hintLabel="Max 10 characters">
                    <mat-label>Identificador</mat-label>
                    <input type="text" matInput #input formControlName="job_id" maxlength="10" autocomplete="off">
                </mat-form-field>

                <mat-form-field hintLabel="Max 35 characters">
                    <mat-label>Titulo</mat-label>
                    <input type="text" matInput #input formControlName="job_title" maxlength="35" autocomplete="off">
                </mat-form-field>

                <mat-form-field hintLabel="Max 20 characters">
                    <mat-label>Salario mínimo</mat-label>
                    <input type="number" matInput #input formControlName="min_salary" maxlength="20" autocomplete="off">
                </mat-form-field>

                <mat-form-field hintLabel="Max 20 characters">
                    <mat-label>Salario máximo</mat-label>
                    <input type="number" matInput #input formControlName="max_salary" maxlength="20" autocomplete="off">
                </mat-form-field>
            </div>
            <button type="submit" [disabled]="employeeForm.invalid" mat-raised-button color="primary" title="Agregar un Cargo">Agregar</button>
        </form>
        <div mat-dialog-actions>
            <button mat-button (click)="onNoClick()" title="Cerrar ventana">Cerrar</button>
        </div>
    </div>
</mat-card>