<mat-toolbar color="Black">
    <button mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
    <h1 mat-dialog-title>Recursos Humanos</h1>
    <mat-menu #menu="matMenu">
        <a routerLink="/login" routerLinkActive="active"><button mat-menu-item color="Black">Login</button></a>
        <a routerLink="/job" routerLinkActive="active"><button mat-menu-item color="Black">Jobs</button></a>
        <a routerLink="/country" routerLinkActive="active"><button mat-menu-item color="Black">Countries</button></a>
        <a routerLink="/departament" routerLinkActive="active"><button mat-menu-item color="Black">Departament</button></a>
        <a routerLink="/employee" routerLinkActive="active"><button mat-menu-item color="Black">Emplyees</button></a>
        <a routerLink="/jobhistory" routerLinkActive="active"><button mat-menu-item color="Black">JobHistory</button></a>
        <a routerLink="/location" routerLinkActive="active"><button mat-menu-item color="Black">Location</button></a>
        <a routerLink="/region" routerLinkActive="active"><button mat-menu-item color="Black">Region</button></a>
    </mat-menu>
</mat-toolbar>