<mat-card>
    <div>
        <h1 mat-dialog-title style="background-color:#eff1f3">Se eliminarán los siguientes datos de Región</h1>
        <form [formGroup]="regionForm" (ngSubmit)="onDelete(regionForm.value)">
            <div class="example-container">
                <mat-form-field hintLabel="Max 10 characters">
                    <mat-label>Código</mat-label>
                    <input type="text" matInput #input formControlName="region_id" maxlength="10" autocomplete="off" [formControl]="reid">
                </mat-form-field>

                <mat-form-field hintLabel="Max 25 characters">
                    <mat-label>Nombre</mat-label>
                    <input type="text" matInput #input formControlName="region_name" maxlength="25" autocomplete="off" [formControl]="rename">
                </mat-form-field>
            </div>
            <button type="submit" mat-raised-button color="primary" title="Eliminar">Eliminar</button>
        </form>
        <div mat-dialog-actions>
            <button mat-button (click)="onNoClick()" title="Cerrar ventana">Cancelar</button>
        </div>
    </div>
</mat-card>